{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script src="{% static 'js/counter.js' %}"></script> -->
    {% if title %}
    <title>Q&A Web - {{ title }}</title>
    {% else %}
    <title>Q&A Web</title>
    {% endif %}
</head>

<body>
    <header>
        <div class="header-container">
            <div class="brand">
                <a href="{% url 'home' %}">aski<span>T</span></a>
            </div>
            <div class="nav-links">
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'questions-create' %}">Ask Question</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profile' %}">{{user.username}}'s Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'questions-create' %}">Ask Question</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}
    <div class="spacer"></div>
    <footer>
        <div class="footer-container">
            <div class="footer-items">
                <span>&copy; 2020 askiT</span>
            </div>
        </div>
    </footer>
</body>

</html>